{{define "/down"}}

<html>
  {{template "header"}}

  <body>
    <div class="stack">
    <h2> complaints.serfr1.org </h2>

    <p> Apologies: the site is temporarily down :( </p>

    <p> It ran out of some quota that only gets reset at midnight, so
    it will be down all of Saturday evening. It will be back at 00:01
    Sunday morning.</p>

    <p> Silver lining: it ran out of quota because lots of people are
    submitting lots of complaints :)</p>
    
    </div>
    
  </body>
</html>

{{end}}
