{{define "email-update"}}

<html><body>
    <p>Hello !</p>

    <p>You're getting this email because this email address has been
      registered on the site http://stop.jetnoise.net (was
      complaints.serfr1.org).</p>

    <p>A few astute readers noticed some discrepencies with the
    by-town totals yesterday; as a resut, I found a bunch of profiles
    that had 'old' address data. I fixed them up, and there are are
    101 fewer inhabitants of town 'Unknown'. So I've regenerated the
    stats I sent out yesterday, and attached them to this email.<p>

    <p>This should not have affected the data sent into SFO; but I'm
    working to confirm that. They get the raw string, whether in old
    or new format, which for almost everyone contained a full address.
    But my by-town summary only understands the new format.</p>
    
    <p>A huge amount of thanks for all the people who volunteered
    their window ledges to house ADS-B gizmos ! If I've not been back
    in touch with you yet, I will; I'm trying to figure out what a
      nice, regular distribution would look like on the map.</p>

    <p>Not surprisingly though, almost everyone who offered just so
    happens to live directly under SERFR. So the distribution looks
    more like a single straight line from EPICK to MENLO, rather than
    a grid, and won't work out too well for triangulation.</p>

    <p>So if you happen to live, say, up on Skyline, or in San
    Francisco, or South San Francisco, or Oakland, or San Mateo, or
    San Jose - and you're willing to host a gizmo - I'd love to hear
    from you :)
    </p>

    <p>&nbsp;- Adam</p>
    
      <pre>
Summary of disturbance reports:
 From [2016-01-01 00:00:00 -0800 PST]
 To   [2016-01-31 23:59:59 -0800 PST]

Totals:
 Days                : 31
 Disturbance reports : 180455
 People reporting    : 973

Disturbance reports, counted by City (where known):
 Palo Alto                               : 39125 ( 196 people reporting)
 Los Gatos                               : 26260 ( 103 people reporting)
 Los Altos                               : 22848 ( 156 people reporting)
 Santa Cruz                              : 21737 (  97 people reporting)
 Los Altos Hills                         : 12789 (  40 people reporting)
 Scotts Valley                           : 12276 (  48 people reporting)
 Soquel                                  : 10368 (  69 people reporting)
 Unknown                                 :  6878 (  43 people reporting)
 Mountain View                           :  3816 (  28 people reporting)
 Brisbane                                :  3609 (  48 people reporting)
 Pacifica                                :  3333 (  30 people reporting)
 Capitola                                :  3263 (   7 people reporting)
 Portola Valley                          :  2852 (  21 people reporting)
 Woodside                                :  2204 (  14 people reporting)
 San Francisco                           :  2201 (  12 people reporting)
 Menlo Park                              :  2072 (  30 people reporting)
 Saratoga                                :  1709 (   7 people reporting)
 Stanford                                :   884 (   3 people reporting)
 Felton                                  :   742 (   7 people reporting)
 Aptos                                   :   373 (   2 people reporting)
 Oakland                                 :   211 (  11 people reporting)
 Atherton                                :   147 (   1 people reporting)
 Carmel Valley                           :   118 (   1 people reporting)
 Glenwood                                :    94 (   2 people reporting)
 Boulder Creek                           :    84 (   1 people reporting)
 South San Francisco                     :    41 (   2 people reporting)
 Sunnyvale                               :    28 (   3 people reporting)
 La Selva Beach                          :    27 (   1 people reporting)
 Ben Lomond                              :    24 (   1 people reporting)
 Redwood City                            :    16 (   2 people reporting)
 San Bruno                               :     8 (   1 people reporting)
 Emerald Hills                           :     5 (   1 people reporting)
 Bakersfield                             :     4 (   1 people reporting)
 Berkeley                                :     2 (   1 people reporting)
 Watsonville                             :     1 (   1 people reporting)
 Clovis                                  :     1 (   1 people reporting)

Disturbance reports, counted by date:
 2016.01.01:  2624 ( 238 people reporting)
 2016.01.02:  4274 ( 306 people reporting)
 2016.01.03:  6735 ( 405 people reporting)
 2016.01.04:  3519 ( 309 people reporting)
 2016.01.05:  4718 ( 337 people reporting)
 2016.01.06:  3426 ( 329 people reporting)
 2016.01.07:  5333 ( 369 people reporting)
 2016.01.08:  6528 ( 391 people reporting)
 2016.01.09:  5237 ( 408 people reporting)
 2016.01.10:  7935 ( 439 people reporting)
 2016.01.11:  6226 ( 421 people reporting)
 2016.01.12:  5661 ( 404 people reporting)
 2016.01.13:  5535 ( 386 people reporting)
 2016.01.14:  5490 ( 395 people reporting)
 2016.01.15:  8361 ( 442 people reporting)
 2016.01.16:  4134 ( 373 people reporting)
 2016.01.17:  3815 ( 349 people reporting)
 2016.01.18:  7718 ( 466 people reporting)
 2016.01.19:  3315 ( 353 people reporting)
 2016.01.20:  5556 ( 418 people reporting)
 2016.01.21:  7200 ( 451 people reporting)
 2016.01.22:  3060 ( 362 people reporting)
 2016.01.23:  5692 ( 457 people reporting)
 2016.01.24:  7926 ( 463 people reporting)
 2016.01.25:  7056 ( 455 people reporting)
 2016.01.26:  4567 ( 399 people reporting)
 2016.01.27:  4717 ( 372 people reporting)
 2016.01.28:  8421 ( 458 people reporting)
 2016.01.29:  7768 ( 457 people reporting)
 2016.01.30:  8585 ( 495 people reporting)
 2016.01.31:  9323 ( 541 people reporting)

Disturbance reports, counted by aircraft equipment type (where known):
 A320                                    : 28567
 B737                                    : 18582
 B738                                    : 16491
 B739                                    : 13530
 E170                                    : 10737
 CRJ2                                    :  8294
 A319                                    :  6414
 B712                                    :  6398
 B733                                    :  4479
 A321                                    :  4385
 B744                                    :  4126
 B77W                                    :  3055
 CRJ7                                    :  2579
 B772                                    :  2071
 B748                                    :  1926
 A332                                    :  1327
 B788                                    :  1299
 B734                                    :  1118
 B763                                    :  1005
 A388                                    :   761
 B753                                    :   621
 CRJ1                                    :   529
 A343                                    :   507
 A346                                    :   494
 B752                                    :   483
 CRJ9                                    :   337
 B764                                    :   202
 B789                                    :   162
 A333                                    :   155
 MD90                                    :   150
 MD83                                    :   132
 MD82                                    :   122
 B762                                    :   121
 MD11                                    :   118
 DH8D                                    :   103
 C172                                    :    85
 A306                                    :    68
 C182                                    :    55
 B77L                                    :    53
 BE76                                    :    48
 DC10                                    :    43
 MG17                                    :    11
 B735                                    :     8
 R44                                     :     5

Disturbance reports, counted by Airline (where known):
 UA:  50952
 WN:  23137
 VX:  17417
 AA:  14259
 DL:   8645
 AS:   5601
 B6:   3909
 AM:   2462
 HA:   1766
 KE:   1242
 OZ:    999
 CI:    971
 F9:    818
 AC:    652
 NH:    620
 CX:    617
 BA:    577
 LH:    549
 CM:    493
 KZ:    472
 BR:    468
 SQ:    393
 CA:    378
 AV:    367
 VS:    359
 PR:    348
 K4:    336
 QF:    292
 TA:    288
 NZ:    274
 EK:    241
 SY:    239
 MU:    238
 OO:    232
 TK:    217
 CZ:    213
 LX:    203
 FX:    194
 KL:    186
 JL:    182
 SK:    172
 AF:    154
 NK:    141
 EY:    135
 EI:    123
 5Y:    123
 Y4:    121
 5X:    114
 HU:     74
 N3:     65
 N5:     51
 UL:     47
 N1:     46
 N6:     43
 AI:     35
 JB:     34
 N9:     32
 Wn:     24
 Ua:     24
 ua:     22
 wn:     21
 G4:     19
 Vx:     18
 52:     13
 SW:     12
 N2:     10
 LL:      9
 KI:      8
 72:      8
 BC:      5
 CL:      5
 Dl:      5

Disturbance reports, counted by hour of day (across all dates):
 00:  2663
 01:   422
 02:   154
 03:    85
 04:   449
 05:   654
 06:  3606
 07:  7526
 08:  8630
 09: 13464
 10:  8296
 11: 10033
 12:  9681
 13:  9697
 14:  9440
 15:  8084
 16:  9843
 17: 10380
 18: 14421
 19: 10670
 20: 12392
 21: 15450
 22:  9241
 23:  5174
        </pre>
        
    
</body></html>

{{end}}
