{{define "faq-tags"}}

        <h3>Flight tags</h3>
        <p>
          <code>SERFR1</code>: a flight that flew in on SERFR1.<br/>
          <code>BRIXX</code>: a flight that flew in on BRIXX1.<br/>
          <code>ADSB</code>: flights that have locally received track data (ADS-B).<br/>
          <code>FA:TA</code>: flights that have FlightAware track data (source: ADS-B).<br/>
          <code>FA:TZ</code>: flights that have FlightAware track data (source: radar).<br/>
          <code>ClassB:ADSB</code>: violations detected using locally
          received ADS-B data. Very usable.<br/>
          <code>ClassB:FA</code>: violations detected using FlightAware data. Usable.<br/>
<!--          <code>ClassB</code>: violations detected using Flightradar24 data. Not usable.<br/>-->
        </p>

{{end}}
