{{define "fdb-test"}}

<html>
  {{template "header"}}
  <body>
    <div class="stack">
      <h1> FDB Test </h1>

      <div class="box">
        <h3><code>{{.Oneline}}</code></h3>
        {{.Text}}
      </div>

      <div class="box">
        <h3>Class B</h3>
        <pre style="text-align:left">{{.ClassB}}</pre>
      </div>

      <div class="box">
        <p>{{range .F.Track}}{{.}}<br/>{{end}}</p>
      </div>

      <h3>New</h3>
      <div class="box">
        {{range .New}}<code>{{.}}</code><br/>{{end}}
      </div>
      <h3>All</h3>
      <div class="box">
        {{range .Flights}}<code>{{.}}</code><br/>{{end}}
      </div>

    </div>
  </body>
</html>

{{end}}
