{{define "fdb-queryresults-list"}}

<html>
  {{template "header"}}
  <body>
    <div class="allstack">
      <p>Planes in the air around SFO as
      of <code>{{.SearchTime}}</code> (<code>{{.SearchTimeUTC}}</code>).</p>
      <div class="box">
        {{range .Flights}}
        <p style="text-align:left">
          (at {{.Pos.TimestampUTC.Format "Jan 02 15:04:05 MST"}};
          <a target="_blank" href="{{.Url}}">view on map</a>)
          <code>{{.Oneline}}</code>
        </p>
        {{end}}
      </div>
    </div>
  </body>
</html>

{{end}}
