{{define "fdb-lookup"}}

<html>
  {{template "header"}}
  <body>
    <div class="allstack">
      <h1> {{.Oneline}} </h1>
      <div class="box">
        <p> {{.F.Id}} </p>
        <p> enterUTC: {{.F.EnterUTC}}, {{formatPdt .F.EnterUTC "01/02 15:04:05 MST"}}</p>
        <p> leaveUTC: {{.F.LeaveUTC}}, {{formatPdt .F.LeaveUTC "01/02 15:04:05 MST"}}</p>
      </div>

      <div class="box">
        <h3>Skim</h3>
        <pre style="text-align:left">{{.SkimAnalysis.String}}</pre>
      </div>

      <h3>Raw</h3>
      <div class="box">
        <code>{{.Text}}</code>
      </div>
    </div>
  </body>
</html>

{{end}}
