{{define "/about"}}

<html>
  {{template "header"}}

  <body>
    <div class="stack">
      <h2> complaints.serfr1.org </h2>
      
    <h3> How it works </h3>

    <div class="about">
      <ul>

      <li> You login via google or facebook </li>

      <li> You set up a profile (name, address, your SFO caller-code
      if you have one)</li>

      <li> Then when you are disturbed, pull
      up <tt><b>complaints.serfr1.org</b></tt> on your phone/desktop
      and click
      <b>'complain'</b>. (On a phone, 'Add To Home Screen' will add a
      button just like an app, much quicker !)</li>

      <li> We'll identify the flight that's overhead, and deep link it
      to <tt>flightradar24.com</tt></li>

      <li> Once a day, we'll automatically send an email summarizing
      all your complaints - and if you want, we'll also submit the
      complaints to <tt>flysfo.com</tt>.</li>
      </ul>
      </div>
    {{if .}}{{else}}
    <h3> <a href="/">Get set up now !</a> </h3>
    {{end}}
    
    <h3> Frequently asked questions </h3>
    
    <div class="about">
    <ul>

      <li><b>How do I contact you ?</b> Send email
      to <tt>feedback</tt><tt>&#64;</tt><tt>serfr1.org</tt></li>

      <li><b>Is this site affiliated with SFO Airport, the FAA, or any
      other organization ?</b> No, this website was set up by a
      resident who lives under SERFR ONE.</li>

      <li><b>What happens to my complaint emails ?</b> We address each
      email to you, and (if you tell us to) also to the official
      address at SFO. </li>

      <li><b>What is a 'Caller Code' ?</b> It is a short identifier
      (e.g. <tt><b>SUR002</b></tt>) handed out by the SFO noise
      complaints team. To get one, you should make your first
      complaint direct
      at <a href="http://www.flysfo.com/community-environment/noise-abatement/file-a-complaint">www.flysfo.com</a>,
      and request a response from them. They will assign you a Caller
      Code in their response.</li>

      <li><b>Do I need a 'Caller Code' to use this site ?</b> No ! You
      can leave it blank. But you must make sure that you fill in a
      full name and full postal address, to make sure your complaint
      emails aren't discarded.</li>
      
      <li><b>How do you work out which flight is overhead ?</b> When
      you click 'complain', we get a list of flights near your home
      from flightradar24.com. We strip out the 5-minute-radar-delay
      flights, flights without regular flight numbers, and flights
      above 28,000 feet. Then we calculate how far they are from your
      home, and if there is one (and only one) within ~10km, then we
      pick it.</li>

      <li><b>When I mash the 'COMPLAIN' button a bunch of times, why
      do I end up with just one complaint in the list ?</b> This is a
      feature ! If reports look like they're supposed to be for the
      same event (within 45 seconds of each other, same flight (or
      only the last has a flight), we consider it to be just one
      complaint. If you really want to make sure they're considered as
      separate, enter different things into the 'Notes' field and they
      won't be combined.</li>

      <li><b>When do you generate the emails ?</b> At 04:00 AM Pacific
      Time, we gather up all the complaints registered from 00:00 to
      23:59 the previous day.</li>


      <li><b>What's with the gmail/google/facebook account ?</b> It
      saves you having another password to remember, and makes it safe
      to use the email address.</li>

      <li><b>What do you do with my gmail/google/facebook account,
      anyway ?</b> Two things:<ul>

          <li>You're forwarded to their servers to login. This website
          never sees your password.</li>

          <li>Once you've confirmed, then we use your email address to
          send email to. This website has no access to your inbox or
          vacation photos; all it has access to is your email address.</li>
        </ul>
      </li>
        
    </ul>
    </div>
    
    {{if .}}
    <center>
      <p>[<a href="/">Home</a>]</p>
    </center>
    {{end}}

    </div>
    
  </body>
</html>

{{end}}
