{{define "test"}}

<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    //center: {lat: 37.060312, lng: -121.990814},
    center: {lat: {{.SFO.Lat}}, lng: {{.SFO.Long}}},
    mapTypeId: google.maps.MapTypeId.TERRAIN,
    zoom: 8
  });

  classBOverlay()
  trailOverlay()
}

function trailOverlay() {
  track = {{.Track}}

  for (var i in track) {
    var marker = new google.maps.Marker({
      position: track[i].pos,
      map: map,
      title: track[i].id,
      icon: "/static/measle_green.png",
    });
  }
}

function classBOverlay() {
  var classb = [{{ $sfo := .SFO }}{{range .ClassB}}
   {
      center: {lat: {{$sfo.Lat}}, lng: {{$sfo.Long}}},
      boundaryMeters: {{index . 0}},
   },{{end}}
  ]

  for (var i=0; i< classb.length; i++) {
    // Add the circle for this city to the map.
    var cityCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: '#FF0000',
        fillOpacity: 0.15,
        map: map,
        center: classb[i].center,
        radius: classb[i].boundaryMeters
    });
  }
}

    </script>
    
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{.MapsAPIKey}}&callback=initMap&libraries=drawing,geometry">
    </script>
  </body>
</html>

{{end}}
