{{define "report-serfr1complaints"}}

<html>
  {{template "header"}}

  <body>
    <div class="allstack">
      <h1> SERFR1 Reports, by flight:
        {{.Start.Format "Mon 01/02"}} - {{.End.Format "Mon 01/02"}} : 
        {{len .Rows}} flights
      </h1><br/>

      <div class="box">
        <table>
          {{range $k,$v := .Metadata}}
          <tr><td>{{$k}} : </td><td><b>{{$v}}</b></td></tr>{{end}}
        </table>
      </div>
      <p/>

      <div class="box">
        <table>
          {{range .Rows}}
          <tr>
            <td><b>Num Reports: {{.NumComplaints}}</b>.</td>
            <td>{{.F.Id.Designator.IATAAirlineDesignator}}</td>
            <td>{{.F.Id.Designator}}</td>
            <td>[{{.F.Id.Origin}}-{{.F.Id.Destination}}]</td>
            <td>{{formatPdt .F.EnterUTC "01/02 15:04:05 MST"}}. </td>
            <td>Num Speedbrakes: {{.NumSpeedbrakes}}, </td>
            <td>Badness Score: {{.WeightedComplaints}}.</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="stack">
        <h3>Notes</h3>
        <p><ul>
          <li><i>Badness Score</i> weights reports by how LOUD people reported them as, and adds an extra penalty for speedbrakes.</li>
          <li>This list includes <b>all</b> of the scheduled flights
          that came in on SERFR1. It lists a few of the unscheduled
          flights (those with no flightnumber); there are a small
          handful every day, sometimes for big noisy jets being moved
          around by airlines. We can't easily match complaints to
            those flights right now.</li>
          <li> Why can [C] (average reports per overflight) be higher
          than [D] (average reports for worst airline) ? Because not
          all reports end up identifying a flight, and so not all
          reports can be counted against an airline.</li>
          <li>A flight is considered to be on SERFR1 if it flies in
          along the EPICK-EDDYY corridor - i.e. across Santa Cruz and
            up over the Summit.</li>
          <li> The timestamp corresponds roughly to the time the
          flight passed near Saratoga on the way into SFO.</li>
        </ul></p>
      </div>
    </div>
  </body>
</html>

{{end}}
