// Rename this as "my-values.go" in this dir in your local tree, when compiling & serving the app
package config

func init() {
	prod()
	dev() // Overlay dev changes
}

func prod() {
	// Used to sign/auth the session cookies. Cookies last 4 weeks, so rotate keys.
	Set("sessions.key", "0xdeadbeef")
	Set("sessions.prevkey", "0xdeadbeef")

	// This is linked to abworrall's persona facebook account
	Set("facebook.appid",     "deadbeef")
	Set("facebook.appsecret", "deadbeef")

	Set("anonymizer.salt", "deadbeef")

        // Only known to the AWS IoT lambda function, so we can trust it
	Set("awsiot.secret", "deadbeef")

        // This prod key only works from the URLs stop.jetnoise.net, complaints.serfr1.org
	Set("googlemaps.apikey", "dedbeef")  //prod
}

func dev() {
	Set("googlemaps.apikey", "")
}
