{{define "date-report-form"}}

<html>
  {{template "header"}}
  <body>
    <h1>{{.Title}}</h1><p/>

    <form action="{{.FormUrl}}" method="post">
      <div class="stack">
        {{if .Message}}<div class="message">{{.Message}}</div><br/>{{end}}
    
        <div class="box">
        <table border="0">
          <tr>
            <td>Date range</td>
            <td>{{template "widget-date-range" .}}</td>
          </tr>
          <tr><td>&nbsp;</td></tr>

          <tr>
            <td colspan="2">I am not a robot:<input type="checkbox"
            name="notarobot"/> . (f you
            want to scrape this data, get in touch with me. Doing it
            via this report is expensive !)</td>
              
          </tr>
          <tr><td>&nbsp;</td></tr>

          <tr><td colspan="2"><hr/></td></tr>
        </table>

        <br/>
        <p style="text-align:center"><input class="button" type="submit" value="GENERATE"/></p>
        <br/>
        </div>

      </div>
    </form>
  </body>
</html>

{{end}}
