{{define "email-update"}}

<html><body>
    <p>Hello !</p>

    <p>You're getting this email because this email address has been
      registered on the site http://stop.jetnoise.net (was
      complaints.serfr1.org).</p>

    <p>A few updates on the site ... </p>

    <p>1. Auto-submission of reports to SFO will soon be the default
    for <b>everyone</b>. I've been in touch with the handful of people
    who have it switched off, and it seems non-critical for
      everyone. A few FAQs about this:</p>
    <ul>
      <li> <b>Will I still get my daily email ?</b> Yes, no change there</li>
      <li> <b>What happens if I forward it to SFO.Noise ?</b> They will
      completely ignore it, as any complaints it contains will already
        be in their system.</li>
      <li><b>I used to send a daily commentary along with the complaints
      to SFO.Noise; can I still do that ?</b> Yes ! You can (and should)
      send narrative complaints and overviews of your day to
      SFO.Noise; and now that we're not emailing them bazillions of individual
      complaints, your hand-written emails have a much higher chance
        of getting attention.</li>
      <li><b>I used to pull out my SJC/OAK complaints and forward them on
      - should I still do that ?</b> For now, yes, but stay tuned for
      better news about auto-submitting complaints to SJC and
        OAK.</li>
    </ul>

    <p>2. Personal summary reports. You can now get a simple report on
    your full complaint
    history: <a href="https://stop.jetnoise.net/personal-report">link here</a>.
    This counts up your complaints, and breaks them down by date, time
    of day, and airline. If you were interested in which airlines most
    dominate your life, or wanted to show how you've been disturbed in
        your sleep, this is what you want. (And if you'd like to see
    something else in here, let me know and I'll see what I can
        do.)</p>

    <p>3. More neighborhoods ! Below is a summary of the number of
    reports (and people reporting) for various towns, over a four day
    span this week. You'll see that the second most popular town is
    "Unknown", which is why I've started another round of address
    cleanup. If you're seeing a big red warning on the site, you know
      what I mean :)
      I know some people are having problems with the address
    auto-complete, and I'm sorry about that - get in touch with me and
    we'll figure it out.</p>

    <p>PS: When looking at the aircraft type / airline breakdowns,
    take care; the A320 is the most common aircraft that flies
    overhead, and UA is the most common airline, so the fact they're
    at the top doesn't necessarily mean they're actually the worst
    (although we all know about the A320 vortex/whistling problem :( </p>

    <p>4. A plea for help ! To help with the realtime flight
    identification, I need a few people scattered across the bay to
    host some very small ADS-B receivers. If you live somewhere that
    has good all-round line-of-sight visibility of the sky, and you're
    willing to put a tiny computer near a window, please get in touch
    ! I'll send you the gizmo all preconfigured, all you'd need to do
    is plug it in and point it at the aircraft.</p>
    
      <pre>
Totals:
 Days                : 4
 Disturbance reports : 20404
 People reporting    : 596

Disturbance reports, counted by City (where known):
 Palo Alto                               :  5183 (118 people reporting)
 Unknown                                 :  3593 ( 94 people reporting)
 Los Gatos                               :  2133 ( 65 people reporting)
 Santa Cruz                              :  2087 ( 66 people reporting)
 Los Altos                               :  1866 ( 60 people reporting)
 Scotts Valley                           :  1206 ( 33 people reporting)
 Los Altos Hills                         :  1171 ( 17 people reporting)
 Soquel                                  :   950 ( 45 people reporting)
 Mountain View                           :   514 ( 15 people reporting)
 Pacifica                                :   356 ( 10 people reporting)
 Capitola                                :   296 (  5 people reporting)
 Menlo Park                              :   250 ( 12 people reporting)
 Portola Valley                          :   229 ( 11 people reporting)
 Brisbane                                :   192 ( 23 people reporting)
 San Francisco                           :   104 (  5 people reporting)
 Saratoga                                :    65 (  2 people reporting)
 Stanford                                :    46 (  2 people reporting)
 Woodside                                :    38 (  3 people reporting)
 Glenwood                                :    28 (  3 people reporting)
 Aptos                                   :    27 (  1 people reporting)
 Felton                                  :    22 (  2 people reporting)
 La Selva Beach                          :    13 (  1 people reporting)
 Carmel Valley                           :    12 (  1 people reporting)
 Atherton                                :    12 (  1 people reporting)
 Boulder Creek                           :     5 (  1 people reporting)
 Ben Lomond                              :     5 (  1 people reporting)
 San Bruno                               :     1 (  1 people reporting)

Disturbance reports, counted by date:
 2016.01.17:  3815 ( 349 people reporting)
 2016.01.18:  7718 ( 466 people reporting)
 2016.01.19:  3315 ( 353 people reporting)
 2016.01.20:  5556 ( 418 people reporting)

Disturbance reports, counted by aircraft equipment type (where known):
 A320                                    :  3284
 B737                                    :  2133
 B738                                    :  1721
 B739                                    :  1489
 E170                                    :  1325
 A319                                    :   927
 CRJ2                                    :   755
 B712                                    :   720
 A321                                    :   539
 B744                                    :   485
 B733                                    :   377
 B77W                                    :   318
 B772                                    :   309
 CRJ7                                    :   263
 B748                                    :   222
 A332                                    :   162
 B788                                    :   145
 CRJ1                                    :   129
 B734                                    :    97
 A343                                    :    82
 A388                                    :    72
 B763                                    :    68
 B753                                    :    45
 CRJ9                                    :    34
 MD83                                    :    33
 MD90                                    :    28
 MD11                                    :    28
 B764                                    :    24
 B762                                    :    23
 A346                                    :    21
 MD82                                    :    21
 B789                                    :    21
 A333                                    :    17
 DC10                                    :    17
 BE76                                    :    15
 A306                                    :    12
 B77L                                    :    12
 DH8D                                    :    11
 B752                                    :    10

Disturbance reports, counted by Airline (where known):
 UA:   5548
 WN:   2526
 VX:   2006
 AA:   1643
 DL:   1092
 AS:    672
 B6:    450
 AM:    281
 KE:    160
 HA:    152
 AV:    105
 OZ:    103
 AC:    100
 CI:     72
 PR:     70
 NH:     69
 CX:     60
 KZ:     57
 F9:     57
 QF:     56
 CM:     55
 K4:     53
 BR:     52
 BA:     47
 SQ:     46
 TA:     37
 FX:     36
 KL:     36
 CA:     35
 LH:     33
 TK:     32
 5X:     31
 EK:     31
 MU:     31
 SY:     28
 HU:     25
 OO:     24
 JL:     24
 5Y:     23
 AF:     22
 CZ:     21
 VS:     21
 SK:     21
 N3:     18
 Y4:     17
 EY:     14
 LX:     14
 EI:     13
 NK:     13
 NZ:     12
 AI:      5

Disturbance reports, counted by hour of day (across all dates):
 00:   330
 01:    32
 02:    17
 03:     4
 04:    64
 05:    74
 06:   351
 07:   645
 08:  1122
 09:  1435
 10:  1014
 11:  1050
 12:  1053
 13:   992
 14:  1062
 15:  1079
 16:  1126
 17:  1204
 18:  1359
 19:  1361
 20:  1317
 21:  2003
 22:  1222
 23:   488
        </pre>
        
    
</body></html>

{{end}}
