{{define "faq-maps"}}

        <h3>Flight maps</h3>
        <p> If you view the map for a flight, you'll see a trail of colored dots. Each is
          a specific Trackpoint from a data source; click it to see details about that point.</p>
        <p>
          <b>Yellow dots</b>: data source was Mode-ES location info
          broadcast from the aircraft itself, captured on a privately operated ADS-B receiver.<br/>
          <b>Blue dots</b>: track data was purchased from FlightAware (radar or ADS-B/ES).<br/>
          <b>Big red dots</b>: this particular point (from any source)
          was interpreted as
          a Class B violation. Click on it to learn why.<br/>
          <b>Green dots</b>: data source was Flightradar24. Data is
          not used in any reporting, and is provided for just for
          comparison.<br/>
        </p>

        <p> The ClassB detection logic uses a conservative/simplifed view of class B space
        that is only appropriate for flights flying in on SERFR1.</p>

{{end}}
