{{define "fdb-recentlist"}}

<html>
  {{template "header"}}
  <body>
    <div class="allstack">
      <h1>
        {{if (.TimeRange | eq "recent")}}Recent
        {{else if  (.TimeRange | eq "today")}}Today's
        {{else if  (.TimeRange | eq "yesterday")}}Yesterday's
        {{end}}
        flights{{if (len .Tags | ne 0)}} matching tags {{.Tags}}{{end}} : 
       {{len .Flights}} results</h1>
      <p>Today: [<a href="/fdb/today?tags=AL">Airlines</a>,
        <a href="/fdb/today?tags=SERFR1">SERFR1</a>,
        <a href="/fdb/today?tags=BRIXX">BRIXX</a>,
        <a href="/fdb/today?tags=ClassB:FA">ActionableClassB</a>]<br/>
        Yesterday: [<a href="/fdb/yesterday?tags=AL">Airlines</a>,
        <a href="/fdb/yesterday?tags=SERFR1">SERFR1</a>,
        <a href="/fdb/yesterday?tags=BRIXX">BRIXX</a>,
        <a href="/fdb/yesterday?tags=ClassB:FA">ActionableClassB</a>]<br/>
      </p>
      <div class="box">
        {{range .Flights}}
        <p style="text-align:left">
          {{formatPdt .F.EnterUTC "01/02 15:04 PM"}}
          <a target="_blank" href="{{.Url}}">[map view]</a>
          <code>{{.Oneline}}</code>
        </p>
        {{end}}
      </div>
      <div class="stack">
        <h3>Notes</h3>
        <p> The timestamps are the (pacific) times we first noticed each flight; generally
        when it took off from SFO, or when it got fairly close to SFO.</p>
        {{template "faq-tags"}}
        {{template "faq-maps"}}
      </div>
    </div>
  </body>
</html>

{{end}}
