{{define "header"}}
<head>
  <title>stop.jetnoise.net</title>
  <link rel="stylesheet" type="text/css" href="/static/serfr.css">
  <link rel="icon" type="image/png" href="/static/icon.png" />
  <link rel="manifest" href="/static/manifest.json" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125827712-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125827712-1');
  </script>

</head>

{{end}}
