{{define "header-map"}}
<head>
  <title>stop.jetnoise.net</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/serfr.css">
  <style type="text/css">
    html, body { height: 100%; margin: 0; padding: 0; }
    #map { height: 100%; }
    #legend {
      background: white;
      margin: 0.8em;
      padding: 0.8em;
    }
  </style>
  <link rel="icon" type="image/png" href="/static/icon.png" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>
{{end}}
