{{define "profile-edit"}}

<html>
  {{template "header"}}
  <body>
    <h1>Make them count&nbsp;!</h1>

    <form action="/profile-update" method="post" onkeypress="return event.keyCode != 13;">
      
      <div class="stack">
        <!-- Google autocomplete magic will populate these. -->
        <input type="hidden" name="AddrNumber"  id="street_number" />
        <input type="hidden" name="AddrStreet"  id="route" />
        <input type="hidden" name="AddrState"   id="administrative_area_level_1"/>
        <input type="hidden" name="AddrCountry" id="country"  />
        
        {{if .Message}}<div class="message">{{.Message}}</div>{{end}}

        <p><b>Enter your name, and then start typing your address</b>,
        clicking on yours when it shows up in the autocomplete list
        below. Make sure the grey boxes underneath get filled
        out. <b>Don't worry if you don't have a Caller Code</b>;
        everything works fine without one.</p>

        <div class="box">
          <table border="0">
            <tr><td>Your email</td><td><code>{{.Profile.EmailAddress}}</code></td></tr>
            <tr>
              <td>Full Name</td>
              <td><input type="text" size="20" name="FullName"
                         value="{{.Profile.FullName}}" autofocus="1"/></td>
            </tr>

            <tr>
              <td valign="top">Full Address</td>
              <td>
                <input style="display:none" type="text"
                       name="fakefieldtodisablebrowserautofill"/>
                <input type="text"
                       size="27"
                       id="autocomplete"
                       placeholder="Enter your address"
                       onFocus="geolocate()"
                       name="AutoCompletingMagic"
                       value=" {{.Profile.Address}}"/>
                <br/>

                <input class="disabled" readonly="1" id="locality" type="text" size="14"
                       name="AddrCity" value="{{.Profile.StructuredAddress.City}}"/>
                <input class="disabled" readonly="1" id="postal_code" type="text" size="5"
                       name="AddrZip" value="{{.Profile.StructuredAddress.Zip}}"/>
            </tr>
            <tr>
              <td valign="top"><i>Lat/long</i></td>
              <td>
                <input class="disabled" readonly="1" id="mylat" type="text" size="9" 
                       name="Lat" value="{{.Profile.Lat}}"/>, 
                <input class="disabled" readonly="1" id="mylong" type="text" size="10" 
                       name="Long" value="{{.Profile.Long}}"/>
                </td>
            </tr>
            
            <tr>
              <td>CallerCode</td>
              <td><input type="text" size="8" name="CallerCode" value="{{.Profile.CallerCode}}"/>
                <i>(optional)</i></td>
            </tr>
          </table>
        </div>

        <p> Your complaints will be automatically sent off
          to <code>sfo.noise</code> at the end of each day.</p>

        <p style="text-align:center"><input class="button" type="submit" value="SAVE PROFILE"/></p>
        <br/>
        
        <div class="box">
          <p> <input type="checkbox" name="DataSharing"
                     {{if .Profile.DataSharingOK}}checked="1"{{end}}>
            <b>I agree to share my disturbance report data</b> with
            individuals working with community and avocacy groups,
            such as SaveOurSkies Santa Cruz, or Palo Alto Sky
            Posse.</p><br/>

          <p>To be specific: we would share the time of your report,
            details of the flight you reported, the loudness/speedbrake
            fields, and a made up name (e.g. "JaneDoe
            TwoHundedAndSeven").</p><br/>
          
          <p> We wouldn't share your name, your email address, your
            lat/long, or your postal address. (And of course we can't
            share your login details, since we never see them - only
            Google or Facebook see those !)</p>
        </div>
        <p/>
        
        <div class="box">
          <p> <input type="checkbox" name="ThirdPartyComms"
                     {{if .Profile.ThirdPartyCommsOK}}checked="1"{{end}}>
            <b>I am happy to receive occasional emails</b> about
            community / adovcacy activities or events.</p><br/>

          <p>Every few months or so, we might send a message on behalf
          of some cross-community effort against jet noise. If you'd
          rather not get emails like that, please untick this option.</p>
        </div>
        
      </div>
      
      </div>      
    </form>

    <script>
      {{template "js-address-lookup"}}
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{.MapsAPIKey}}&libraries=places&callback=initAutocomplete">
    </script>

  </body>
</html>

{{end}}
