{{define "report2-form"}}

<html>
  {{template "header"}}
  <body>
    <h1>Reports</h1><p/>

    <form action="/report2/" method="post">
      <div class="stack">
          <p><b>Please note</b> - the flight database needs a lot of TLC
          right now. If you get timeouts or other problems, reduce the
          date range.</p>
        <div class="box">

          
        <table border="0">
          <tr>
            <td>Date range</td>
            <td>
              {{template "widget-date-range" .}}
            </td>

          </tr>
          <tr><td>&nbsp;</td></tr>

          <tr>
            <td>Report type</td>
            <td><select name="reportname">
                <option value="level">Level flight over Palo Alto</option>
                <option value="stack">Altitude stacks over SFO</option>
            </select></td>
          </tr>
          <tr><td>&nbsp;</td></tr>
<!--          
          <tr>
            <td>Result format</td>
            <td>
              <input type="radio" name="resultformat" value="list" checked="yes"/>web page,
              <input type="radio" name="resultformat" value="csv"/>download CSV,
              <input type="radio" name="resultformat" value="gcs"/>Cloud Storage.
            </td>
          </tr>
-->
          <tr><td colspan="2"><hr/></td></tr>

          <tr>
            <td>Options, Class B: </td>
            <td><input type="checkbox" checked="yes" name="classb_localdataonly"/>
              locally received ADS-B data only</td>
          </tr>
          <tr><td>&nbsp;</td></tr>

<!--
          <tr>
            <td>Options, Class B: </td>
            <td><input type="checkbox" checked="yes" name="classb_oneperflight"/>
              just one per flight (pick worst)</td>
          </tr>
          <tr><td>&nbsp;</td></tr>
--><input type="hidden" name="classb_oneperflight" value="true" />

          <tr>
            <td>Options, Skimmers: </td>
            <td><input type="text" name="skimmer_altitude_tolerance"
              size="6" value="100"/>
              altitude tolerance (feet)</td>
          </tr>
          <tr>
            <td/>
            <td><input type="text" name="skimmer_min_duration_nm"
              size="6" value="3"/>
              min length of skim (in NM)</td>
          </tr>
          <tr><td>&nbsp;</td></tr>

          <tr>
            <td>Options, Waypoints: </td>
            <td><input type="text" name="waypoint"
              size="6" value="EPICK"/>
              name of waypoint</td>
          </tr>

        </table>

        <br/>
        <p style="text-align:center"><input class="button" type="submit" value="GENERATE"/></p>
        <br/>
        </div>

          <p>Data only really starts at 11:30am on Wed Sep 23.</p>

      </div>
    </form>
  </body>
</html>

{{end}}
