{{define "report-classb"}}

<html>
  {{template "header"}}

  <body>
    <div class="allstack">
      <h1> Class B Violation report: {{.Start.Format "Mon 01/02"}} - {{.End.Format "Mon 01/02"}}</h1><br/>

      <div class="box">
        <table>
          {{range $k,$v := .Metadata}}
          <tr><td>{{$k}} : </td><td><b>{{$v}}</b></td></tr>{{end}}
        </table>
      </div>
      <p/>

      <div class="box">
        <table>
          {{range .Rows}}
          <tr>
            <td>{{if .Seq | eq 0}}<a href="{{.Url}}" target="_blank">
                {{.F.Id.Designator}} / {{.F.Id.Registration}} /
                {{.F.Id.ModeS}}</a>{{end}}
            </td>
            <td>{{formatPdt .TP.TimestampUTC "01/02 15:04:05 MST"}}; </td>
            <td>{{printf "%.1f" .A.DistNM}} NM from SFO, </td>
            <td>at {{printf "%.0f" .TP.AltitudeFeet}} feet; </td>
          <td><b>{{printf "%.0f" .A.BelowBy}}</b> feet below floor.</td>
          <td>Source: {{.TP.LongSource}}</td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="stack">
        <h3>Notes</h3>
        <p><ul>
            <li>The 'distance from SFO' is as the crow flies (it is a
            great circle distance from SFO's lat/long to the
            aircraft's latlong, computed using the Haversine algorithm)</li>
            <li>Violations of 200 feet or less are ignored.</li>
            <li>Datapoints are sourced from FlightAware (radar and ADS-B.)</li>
        </ul></p>
        {{template "faq-maps"}}
      </div>
    </div>
  </body>
</html>

{{end}}
