{{define "report-zip-form"}}

<html>
  {{template "header"}}
  <body>
    <h1>ZIP Report</h1><p/>

    <form action="/zip/results" method="post">
      <div class="stack">
        <div class="box">
        <table border="0">
          <tr>
            <td>Zip code : </td>
            <td> <input type="text" size="5" name="zip" value="95066"/>
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>

          <tr>
            <td>Date range</td>
            <td>
              <input type="radio" name="date" value="today"/>Today<br/>
              <input type="radio" name="date" value="yesterday"/>Yesterday<br/>
              <input type="radio" name="date" value="range" checked="checked"/>Range:

              <input type="text" size="10" name="range_from"
                     value="{{.Yesterday.Format "2006/01/02"}}"/> to
              <input type="text" size="10" name="range_to"
                     value="{{.Yesterday.Format "2006/01/02"}}"/>
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>

          <!--
          <tr>
            <td>Result format</td>
            <td>
              <input type="radio" name="resultformat" value="list" checked="yes"/>web page,
              <input type="radio" name="resultformat" value="csv"/>downloadCSV.
            </td>
          </tr>
-->
          <tr><td colspan="2"><hr/></td></tr>
        </table>

        <br/>
        <p style="text-align:center"><input class="button" type="submit" value="GENERATE"/></p>
        <br/>
        </div>

      </div>
    </form>
  </body>
</html>

{{end}}
