{{define "report-serfr1at"}}

<html>
  {{template "header"}}

  <body>
    <div class="allstack">
      <h1> SERFR1 flights at {{.Options.Waypoint}}:
        {{.Start.Format "Mon 01/02"}} - {{.End.Format "Mon 01/02"}} : 
        {{len .Rows}} flights
      </h1><br/>
      <div class="box">
        <table>
          {{range $k,$v := .Metadata}}
          <tr><td>{{$k}} : </td><td><b>{{$v}}</b></td></tr>{{end}}
        </table>
      </div>
      <p/>

      <div class="box">
        <table>
          <tr><th colspan="4"/><th>Time</th><th>Speed</th><th>Altitude</th></tr>
          {{range .Rows}}
          <tr>
            <td>[<a href="{{.Url}}" target="_blank">map</a>]</td>
            <td>{{.F.Id.Designator}}</td>
            <td>{{.F.Id.Registration}}, {{.F.Id.ModeS}}</td>
            <td>[{{.F.Id.Origin}}-{{.F.Id.Destination}}]</td>
<!--            <td>{{formatPdt .F.EnterUTC "01/02 15:04:05 MST"}}; </td>
            <td>Tags:{{.F.TagList}}</td> -->
            <td>[{{formatPdt .ITP.TimestampUTC "01/02 15:04:05 MST"}}]</td>
            <td>{{.ITP.SpeedKnots | printf "%.0f"}} knots</td>
            <td>{{.ITP.AltitudeFeet | printf "%.0f"}} feet</td>
            </td>
          </tr>
          {{end}}
        </table>
      </div>
      <div class="stack">
        {{template "faq-maps"}}
      </div>
    </div>
  </body>
</html>

{{end}}
